@import "./sass/partials/navbar";
@import "./sass/partials/globals";
@import "./sass/partials/searchfilter";
@import "./sass/partials/recipe";
@import "./sass/partials/recipedetails";
@import "./sass/partials/loader";

.error {
  border: 1px solid red;
  height: 100vh;
  width: 100vw;
  display: block;
}
