@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
html {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  background: #eef5b2;
  line-height: 1.5;
  -webkit-font-smoothing: antialised;
  font-family: "Nunito", sans-serif;
}
