@import url("https://fonts.googleapis.com/css?family=Alatsi&display=swap");
.recipe {
  margin-top: -190px;
  .form {
    border: 1px solid red;
  }
}

.card-action {
  a {
    color: goldenrod;
  }
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: yellowgreen;
  text-transform: capitalize;
  font-weight: 800;
  &:hover {
    color: #e32929;
    transition: 400ms ease-in-out;
  }
}

.card
  .card-action
  .view:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #e32929;
  &:hover {
    color: yellowgreen;
  }
}

.card .card-image .card-title {
  color: #f1f1f1;
  font-size: 1.2rem;
  font-family: "Alatsi", sans-serif;

  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  width: 100%;
}
