.card-action {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #e32929;
  font-weight: 600;
  &:hover {
    color: goldenrod;
    transition: 400ms ease-in-out;
  }
}

.card .card-image .card-title {
  color: #eef5b2;
  font-weight: 600;
}
