.search-filter {
  max-width: 900px;
  margin: 0.9375rem auto;
  padding: 0.625rem;

  .input-field input[type="text"] {
    &:focus {
      border-bottom: 1px solid #e32929;
      box-shadow: 0 1px 0 0 #e32929;
      font-weight: 500;
      opacity: 0.8;
      font-size: 1.0625rem;
      padding: 0 1rem;
    }
  }
}

::placeholder {
  color: #555;
  opacity: 0.5;
  padding: 0 1rem;
}

.submit-btn {
  margin: 30px 5px;
  a {
    margin-left: -170px;
    background: #e32929;
    display: inline-block;

    &:hover {
      background: #eef5b2;
      color: #000;
    }
  }
}
